#quote {
    z-index: 3;
    position: absolute;
    color: white;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 46vh;
    transition: color 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

#quote:hover {
    transform: translateY(-10px);
    cursor: pointer;
    
}

#quote span {
    margin-bottom: 5px;
}